nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 40px;
}

ul li {
    display: flex;
    align-items: center;
}

ul {
  list-style: none;        
  display: flex;           
  gap: 20px;               
}

li {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

#page-title {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.thin {
  font-weight: 400;
  color: orange;
}

.bold {
  font-weight: 500;
  color: chocolate;
}

#nav-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

#dropdown-btn {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: black; 
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}



section{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

button{
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    color: white;
    border: none;
}

.botao-compra {
    background-color: chocolate;
}

.botao-venda {
    background-color: darkgrey;
}