header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 25px;
}

header li:hover{
    text-decoration: underline;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.main-dish {
    width: 50%;
    height: auto;
    max-width: 600px; 
}

button {
   padding: 10px;
   border-radius: 20px;
   width: 100px;
   color: white;
   border: none;
}

#menu-button {
    background-color: chocolate
}

#book-button {
    background-color: grey;
}

.dish {
    background-color: antiquewhite;
}


