header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 25px;
}

header li:hover{
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.lp-section {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.main-dish {
    width: 50%;
    height: auto;
    max-width: 600px; 
}

button {
   padding: 10px;
   border-radius: 20px;
   width: 100px;
   color: white;
   border: none;
}

#menu-button {
    background-color: chocolate;
}

#book-button {
    background-color: gray;
}

#menu-text {
    text-decoration: none;
    color: white;
}

#book-text {
    text-decoration: none;
    color: white;
}

.dish {
    display: inline-block;
    background-color:oldlace;
    width: 200px;
}

.dish img {
    width: 100px;
}

.dishes-list {
    display: flex;
    justify-content: center;
}

.dish {
    display: flex;
    justify-content: center;
    margin: 10px;
}

form {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.form-section {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.user-icon {
  width: 25px;          
  height: 25px;
  margin-left: 8px;      
  vertical-align: middle;
  display: inline-block;
  object-fit: contain;
  border-radius: 50%;
}